Repository FE9-2/workroot, pull requests merged in 2024-11, with the labels that each got.

#31 refactor: 라이브러리 재설정, 폴더 구조 변경 및 관련 파일 수정
  .github/workflows/chromatic.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc
  .storybook/main.ts
  .storybook/preview.ts
  commitlint.config.js
  package-lock.json
  package.json
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/hooks/useAuth.ts
  src/image/logo.svg
  src/schemas/authSchema.ts
  src/schemas/commonSchema.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/ColorPalette.stories.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Labels: 🔨 Refactor, ⚙️ Setting

#40 tailwind config 색상 커스텀 추가
  src/app/components/textInput/TextInput.tsx
  tailwind.config.ts
Labels: 🎨 Design

#39 feat: font 설정 및 폴더 구조 수정
  .storybook/Configure.mdx
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  public/logo.svg
  src/app/(home)/page.tsx
  src/app/components/Header.tsx
  src/app/globals.css
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/images/accessibility.png
  src/stories/assets/images/accessibility.svg
  src/stories/assets/images/addon-library.png
  src/stories/assets/images/assets.png
  src/stories/assets/images/avif-test-image.avif
  src/stories/assets/images/context.png
  src/stories/assets/images/discord.svg
  src/stories/assets/images/docs.png
  src/stories/assets/images/figma-plugin.png
  src/stories/assets/images/github.svg
  src/stories/assets/images/share.png
  src/stories/assets/images/styling.png
  src/stories/assets/images/testing.png
  src/stories/assets/images/theming.png
  src/stories/assets/images/tutorials.svg
  src/stories/assets/images/youtube.svg
  src/stories/design-system/colors/ColorPalette.stories.tsx
  src/stories/design-system/colors/ColorPalette.tsx
  src/stories/design-system/components/buttons/Button.stories.ts
  src/stories/design-system/components/buttons/Button.tsx
  src/stories/design-system/components/buttons/button.css
  src/stories/design-system/components/headers/Header.stories.ts
  src/stories/design-system/components/headers/Header.tsx
  src/stories/design-system/components/headers/header.css
  src/stories/design-system/typography/FontExample.stories.tsx
  src/stories/design-system/typography/FontExample.tsx
  src/stories/page.css
  tailwind.config.ts
Labels: ✨ Feat, 🎨 Design

#43 chore: 넥슨 Lv.1 고딕체로 변경
  src/app/(home)/page.tsx
  src/app/components/Header.tsx
  src/app/globals.css
  src/images/logo.svg
  tailwind.config.ts
Labels: 📦️ Chore

#47 design: 공통 button 컴포넌트 추가
  next.config.mjs
  public/images/01.svg
  public/images/02.svg
  public/images/03.svg
  public/images/04.svg
  public/images/05.svg
  src/app/(home)/page.tsx
  src/app/components/button/Button.tsx
  src/app/stories/Input.stories.ts
  src/app/stories/TextArea.stories.ts
  src/app/stories/assets/images/accessibility.png
  src/app/stories/assets/images/accessibility.svg
  src/app/stories/assets/images/addon-library.png
  src/app/stories/assets/images/assets.png
  src/app/stories/assets/images/avif-test-image.avif
  src/app/stories/assets/images/context.png
  src/app/stories/assets/images/discord.svg
  src/app/stories/assets/images/docs.png
  src/app/stories/assets/images/figma-plugin.png
  src/app/stories/assets/images/github.svg
  src/app/stories/assets/images/share.png
  src/app/stories/assets/images/styling.png
  src/app/stories/assets/images/testing.png
  src/app/stories/assets/images/theming.png
  src/app/stories/assets/images/tutorials.svg
  src/app/stories/assets/images/youtube.svg
  src/app/stories/design-system/colors/ColorPalette.stories.tsx
  src/app/stories/design-system/colors/ColorPalette.tsx
  src/app/stories/design-system/components/buttons/Button.stories.tsx
  src/app/stories/design-system/typography/FontExample.stories.tsx
  src/app/stories/design-system/typography/FontExample.tsx
  src/stories/Page.tsx
  src/stories/design-system/components/buttons/Button.stories.ts
  src/stories/design-system/components/buttons/Button.tsx
  src/stories/design-system/components/buttons/button.css
  src/stories/design-system/components/headers/Header.stories.ts
  src/stories/design-system/components/headers/Header.tsx
  src/stories/design-system/components/headers/header.css
  src/stories/page.css
  tailwind.config.ts
Labels: 🎨 Design

#55 design : text input 공통 컴포넌트 구현
  src/app/components/input/BaseInput.tsx
  src/app/components/input/BaseTextArea.tsx
  src/app/components/input/CommonInput.tsx
  src/app/components/input/TransparentTextArea.tsx
  src/app/components/input/TransperTextInput.tsx
  src/app/components/input/WhiteTextArea.tsx
  src/app/components/input/WhiteTextInput.tsx
  src/app/components/textarea/BaseTextArea.tsx
  src/app/components/textarea/TransparentTextArea.tsx
  src/app/components/textarea/WhiteTextArea.tsx
  src/app/stories/Input.stories.ts
  src/app/stories/TextArea.stories.ts
  src/app/stories/design-system/components/input/Input.stories.tsx
  src/app/stories/design-system/components/textarea/TextArea.stories.tsx
  src/types/textInput.d.ts
Labels: 🎨 Storybook, 🎨 Design

#57 Design : text_field & text_area UI 구현 완료
  src/app/components/input/file/BaseFileInput.tsx
  src/app/components/input/file/DownloadInput.tsx
  src/app/components/input/file/UploadInput.tsx
  src/app/components/input/text/BaseInput.tsx
  src/app/components/input/text/LocationInput.tsx
  src/app/components/input/text/SearchInput.tsx
  src/app/components/input/text/TransperTextInput.tsx
  src/app/components/input/text/WhiteTextInput.tsx
  src/app/components/input/textarea/BaseTextArea.tsx
  src/app/components/input/textarea/TransparentTextArea.tsx
  src/app/components/input/textarea/WhiteTextArea.tsx
  src/app/stories/design-system/components/input/file/Download.stories.tsx
  src/app/stories/design-system/components/input/file/Upload.stories.tsx
  src/app/stories/design-system/components/input/text/Input.stories.tsx
  src/app/stories/design-system/components/input/text/LocationInput.stories.tsx
  src/app/stories/design-system/components/input/text/SearchInput.stories.tsx
  src/app/stories/design-system/components/input/text/TextArea.stories.tsx
  src/hooks/useFile.ts
  src/types/textInput.d.ts
Labels: 🎨 Storybook, 🎨 Design

#59 feat: response type 파일
  src/app/(auth)/signup/page.tsx
  src/app/api/auth/refresh/route.ts
  src/app/api/auth/signup/route.ts
  src/constants/formOptions.ts
  src/constants/oauthProviders.ts
  src/constants/postOptions.ts
  src/constants/userRoles.ts
  src/hooks/useAuth.ts
  src/hooks/useUser.ts
  src/schemas/applicationSchema.ts
  src/schemas/authSchema.ts
  src/schemas/commonSchema.ts
  src/schemas/userSchema.ts
  src/store/userStore.ts
  src/types/response/application.d.ts
  src/types/response/auth.d.ts
  src/types/response/comment.d.ts
  src/types/response/form.d.ts
  src/types/response/post.d.ts
  src/types/response/resume.d.ts
  src/types/response/user.d.ts
Labels: 📦️ Chore, ✨ Feat

#60 design: Button 컴포넌트 종류별로 구현
  .storybook/main.ts
  src/app/(auth)/login/page.tsx
  src/app/(home)/page.tsx
  src/app/components/button/BookmarkBtn.tsx
  src/app/components/button/Button.tsx
  src/app/components/button/CheckBtn.tsx
  src/app/components/button/FloatingBtn.tsx
  src/app/components/button/FrameRadioBtn.tsx
  src/app/components/button/RadioBtn.tsx
  src/app/globals.css
  src/app/stories/design-system/components/buttons/BookmarkBtn.stories.tsx
  src/app/stories/design-system/components/buttons/Button.stories.tsx
  src/app/stories/design-system/components/buttons/CheckBtn.stories.tsx
  src/app/stories/design-system/components/buttons/FloatingBtn.stories.tsx
  src/app/stories/design-system/components/buttons/FrameRadioBtn.stories.tsx
  src/app/stories/design-system/components/buttons/RadioBtn.stories.tsx
Labels: 🎨 Storybook, 🎨 Design

#62 Design: 드롭다운 버튼 2종류 (Sort, Filter) 버튼 UI 구현 완료
  src/app/components/button/default/BookmarkBtn.tsx
  src/app/components/button/default/Button.tsx
  src/app/components/button/default/CheckBtn.tsx
  src/app/components/button/default/Chip.tsx
  src/app/components/button/default/FloatingBtn.tsx
  src/app/components/button/default/FrameRadioBtn.tsx
  src/app/components/button/default/RadioBtn.tsx
  src/app/components/button/dropdown/FilterBtn.tsx
  src/app/components/button/dropdown/SortBtn.tsx
  src/app/stories/design-system/components/buttons/BookmarkBtn.stories.tsx
  src/app/stories/design-system/components/buttons/Button.stories.tsx
  src/app/stories/design-system/components/buttons/CheckBtn.stories.tsx
  src/app/stories/design-system/components/buttons/Chip.stories.tsx
  src/app/stories/design-system/components/buttons/FilterBtn.stories.tsx
  src/app/stories/design-system/components/buttons/FloatingBtn.stories.tsx
  src/app/stories/design-system/components/buttons/FrameRadioBtn.stories.tsx
  src/app/stories/design-system/components/buttons/RadioBtn.stories.tsx
  src/app/stories/design-system/components/buttons/SortBtn.stories.tsx
Labels: 🎨 Storybook, 🎨 Design

#64 Design : datepicker
  src/app/components/input/dateTimeDaypicker/DatePickerHeader.tsx
  src/app/components/input/dateTimeDaypicker/DatePickerInput.tsx
  src/app/components/input/dateTimeDaypicker/TimePickerInput.tsx
  src/app/components/input/dateTimeDaypicker/pickerComponents/TimeOption.tsx
  src/app/components/input/textarea/BaseTextArea.tsx
  src/app/globals.css
Labels: 🎨 Design

#66 design: DropdownListBtn, InputDropdownBtn UI 구현 완료
  src/app/components/button/default/BookmarkBtn.tsx
  src/app/components/button/default/Button.tsx
  src/app/components/button/default/CheckBtn.tsx
  src/app/components/button/default/Chip.tsx
  src/app/components/button/default/FloatingBtn.tsx
  src/app/components/button/default/FrameRadioBtn.tsx
  src/app/components/button/dropdown/DropdownListBtn.tsx
  src/app/components/button/dropdown/FilterBtn.tsx
  src/app/components/button/dropdown/InputDropdownBtn.tsx
  src/app/components/button/dropdown/SortBtn.tsx
  src/app/components/layout/Footer.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/stories/design-system/components/buttons/DropdownList.stories.tsx
  src/app/stories/design-system/components/buttons/FilterBtn.stories.tsx
  src/app/stories/design-system/components/buttons/InputDropdownBtn.stories.tsx
  src/app/stories/design-system/components/buttons/SortBtn.stories.tsx
  tailwind.config.ts
Labels: 🎨 Storybook, 🎨 Design

#65 Feat: 모달 8종 추가
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  public/images/modal/closed-gray-md.svg
  public/images/modal/closed-gray-sm.svg
  public/images/modal/closed-orange-md.svg
  public/images/modal/closed-orange-sm.svg
  public/images/modal/profile/default-profile-md.svg
  public/images/modal/profile/default-profile-sm.svg
  public/images/modal/profile/edit-pen-md.svg
  public/images/modal/profile/edit-pen-sm.svg
  public/images/modal/warning-gray-md.svg
  public/images/modal/warning-gray-sm.svg
  public/images/modal/warning-orange-md.svg
  public/images/modal/warning-orange-sm.svg
  public/images/modal/writing-gray-md.svg
  public/images/modal/writing-gray-sm.svg
  public/images/modal/writing-orange-md.svg
  public/images/modal/writing-orange-sm.svg
  src/app/api/auth/refresh/route.ts
  src/app/clientLayout.tsx
  src/app/components/button/default/RadioBtn.tsx
  src/app/components/button/default/RadioGroup.tsx
  src/app/components/input/file/BaseFileInput.tsx
  src/app/components/input/text/BaseInput.tsx
  src/app/components/input/text/ReadOnlyInput.tsx
  src/app/components/modal/ModalLayout.tsx
  src/app/components/modal/modals/alert/ApplicationDetailModal.tsx
  src/app/components/modal/modals/alert/FormContinueModal.tsx
  src/app/components/modal/modals/alert/RecruitmentClosedModal.tsx
  src/app/components/modal/modals/confirm/DeleteFormModal.tsx
  src/app/components/modal/modals/confirm/SelectProgressModal.tsx
  src/app/components/modal/modals/form/ChangePasswordModal.tsx
  src/app/components/modal/modals/form/EditMyProfileModal.tsx
  src/app/components/modal/modals/form/EditOwnerProfileModal.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/stories/design-system/components/buttons/BookmarkBtn.stories.tsx
  src/app/stories/design-system/components/modal/ModalLayout.stories.tsx
  src/app/stories/design-system/components/modal/alert/ApplicationDetailModal.stories.tsx
  src/app/stories/design-system/components/modal/alert/FormContinueModal.stories.tsx
  src/app/stories/design-system/components/modal/alert/RecruitmentClosedModal.stories.tsx
  src/app/stories/design-system/components/modal/confirm/DeleteFormModal.stories.tsx
  src/app/stories/design-system/components/modal/confirm/SelectProgressModal.stories.tsx
  src/app/stories/design-system/components/modal/form/ChangePasswordModal.stories.tsx
  src/app/stories/design-system/components/modal/form/EditMyProfileModal.stories.tsx
  src/app/stories/design-system/components/modal/form/EditOwnerProfileModal.stories.tsx
  src/constants/positionOptions.ts
  src/hooks/useUser.ts
  src/schemas/commonSchema.ts
  src/store/modalStore.ts
  src/types/application.ts
  src/types/modal.d.ts
  src/types/textInput.d.ts
  src/utils/formatters.ts
Labels: ✨ Feat, 🔨 Refactor, 🎨 Storybook, 🎨 Design

#68 Design : Chip 컴포넌트 / 이미지 인풋
  src/app/components/button/default/Chip.tsx
  src/app/components/chip/Chip.tsx
  src/app/components/chip/ChipWithIcon.tsx
  src/app/components/input/file/BaseFileInput.tsx
  src/app/components/input/file/DownloadInput.tsx
  src/app/components/input/file/ImageInput/ImageInput.tsx
  src/app/components/input/file/ImageInput/ImageInputwithPlaceHolder.tsx
  src/app/components/input/file/ImageInput/PreviewItem.tsx
  src/app/components/input/file/UploadInput.tsx
  src/app/components/input/text/BaseInput.tsx
  src/app/components/input/textarea/BaseTextArea.tsx
  src/app/stories/design-system/components/buttons/BookmarkBtn.stories.tsx
  src/app/stories/design-system/components/buttons/Chip.stories.tsx
  src/app/stories/design-system/components/chip/Chip.stories.tsx
  src/app/stories/design-system/components/chip/ChipwithIcon.stories.tsx
  src/app/stories/design-system/components/input/image/ImageInput.stories.tsx
  src/app/stories/design-system/components/input/image/ImageInputwithplaceHolder.stories.tsx
  src/types/textInput.d.ts
Labels: 🎨 Storybook, 🎨 Design

#71 design: popUp, toolTip ui
  src/app/components/popUp/Toast.tsx
  src/app/components/popUp/closeButton.tsx
  src/app/components/popUp/popUp.tsx
  src/app/components/popUp/toolTip.tsx
  src/app/error.tsx
  src/app/not-found.tsx
Labels: 🎨 Design

#76 feat: cardList 컴포넌트 3개 추가
  src/app/components/card/cardList/MyApplicationListItem.tsx
  src/app/components/card/cardList/RecruitCondition.tsx
  src/app/components/card/cardList/RecruitConditionItem.tsx
  src/app/components/card/cardList/RecruitListItem.tsx
  src/app/components/modal/modals/alert/FormContinueModal.tsx
  src/app/components/modal/modals/alert/RecruitmentClosedModal.tsx
  src/app/components/modal/modals/confirm/DeleteFormModal.tsx
  src/app/components/modal/modals/confirm/SelectProgressModal.tsx
  src/app/components/modal/modals/form/ChangePasswordModal.tsx
  src/app/components/modal/modals/form/EditMyProfileModal.tsx
  src/app/components/modal/modals/form/EditOwnerProfileModal.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/stories/design-system/components/card/cardList/MyApplicationListItem.stories.tsx
  src/app/stories/design-system/components/card/cardList/RecruitCondition.stories.tsx
  src/app/stories/design-system/components/card/cardList/RecruitListItem.stories.tsx
  src/app/stories/design-system/components/modal/ModalLayout.stories.tsx
  src/app/stories/design-system/components/modal/confirm/DeleteFormModal.stories.tsx
  src/app/stories/design-system/components/modal/confirm/SelectProgressModal.stories.tsx
  src/constants/workDayOptions.ts
  src/types/modal.d.ts
  src/utils/dateFormatter.ts
  src/utils/recruitDateFommatter.ts
  src/utils/recruitDateFormatter.ts
  src/utils/workDayFormatter.ts
Labels: ✨ Feat, 🎨 Style, 🎨 Storybook

#77 design: 제출내용, 지원현황 카드 컴포넌트 UI 구현
  src/app/api/forms/[formId]/applications/route.ts
  src/app/components/button/default/BookmarkBtn.tsx
  src/app/components/button/default/Button.tsx
  src/app/components/button/default/CheckBtn.tsx
  src/app/components/button/default/FloatingBtn.tsx
  src/app/components/button/default/FrameRadioBtn.tsx
  src/app/components/button/dropdown/FilterDropdown.tsx
  src/app/components/button/dropdown/InputDropdown.tsx
  src/app/components/button/dropdown/SortDropdown.tsx
  src/app/components/button/dropdown/TopMenuDropdown.tsx
  src/app/components/card/cardList/ApplicationStatusCard.tsx
  src/app/components/card/cardList/CardChipIcon.tsx
  src/app/components/card/cardList/RecruitCond.tsx
  src/app/components/card/cardList/RecruitDetail.tsx
  src/app/components/card/cardList/SubmitContCard.tsx
  src/app/components/chip/ChipWithIcon.tsx
  src/app/components/input/applicantCountInput/ApplicantCountInput.tsx
  src/app/error.tsx
  src/app/globals.css
  src/app/stories/design-system/components/card/cardList/ApplicationStatusCard.stories.tsx
  src/app/stories/design-system/components/card/cardList/CardChipIcon.stories.tsx
  src/app/stories/design-system/components/card/cardList/SubmitContCard.stories.tsx
Labels: 🎨 Design

#78 Design : pagination 컴포넌트
  src/app/components/input/dateTimeDaypicker/DayPickerBtn.tsx
  src/app/components/pagination/Indicator.tsx
  src/app/components/pagination/Pagination.tsx
  src/app/components/pagination/PaginationCard.tsx
  src/app/components/pagination/paginationComponent/PaginationBtn.tsx
  src/app/stories/design-system/components/pagination/Indicator.stories.tsx
  src/app/stories/design-system/components/pagination/Pagination.stories.tsx
  src/app/stories/design-system/components/pagination/PaginationCard.stories.tsx
  src/hooks/useWidth.ts
  src/utils/debounce.ts
  tailwind.config.ts
Labels: 🎨 Storybook, 🎨 Design

#79 refactor: Card List 아이템 관련
  src/app/components/card/cardList/MyApplicationListItem.tsx
  src/app/components/card/cardList/RecruitIcon.tsx
  src/app/components/card/cardList/RecruitIconItem.tsx
  src/app/components/card/cardList/RecruitListItem.tsx
  src/app/components/pagination/Indicator.tsx
  src/app/stories/design-system/components/card/cardList/RecruitIcon.stories.tsx
  src/app/stories/design-system/components/card/cardList/RecruitListItem.stories.tsx
  src/app/stories/design-system/components/pagination/Indicator.stories.tsx
Labels: 🔨 Refactor
